.profile {
  width: 1170px;
  margin: 100px auto;
  display: flex;
  img {
    width: 50%
  }
  h1 {

  }
}

.gallery {
  display: flex;

  img {
    width: 25%
  }
}

/* jsSlider */
.jsSlider_container {
  max-width: 100%;
  position: relative;
  margin: 0 auto 5px;
  height: 400px;
}
.jsSlider_container .jsSlides img {
  object-fit: cover;
  width: 100%;
  height: 615px;
  margin: auto;
}

/* ページ送り */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 75%;
  width: auto;
  padding: 10px 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  transform: translateY(-50%);
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* テキスト */

.jsSlider_numbertext {
    color: #FFF;
    font-size: 0.9rem;
    padding: 3px 12px;
    position: absolute;
    top: 0;
    background: #000006;
    font-weight: 500;
    right: 0;
}

/* インジケーター */
.jsSlider_dots {
  text-align: center;
  margin-top: 220px

}
.jsSlider_dots--dot {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.jsSlider_dots--dot:hover {
  background-color: #f0db3f;
}

/* fadeアニメーション */
.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
